body{
	padding:30px;
	color:white;
	background-color:black;
}

.cul {
  list-style-type: none;
  margin: 0;
  /*padding: 5px;
  background-color: #333;*/
  text-decoration: underline;
  font-size:18px;
  overflow:hidden;
}

summary{
  font-weight:bold;
  padding-bottom:5px;
}

img{
  padding:5px;
  padding-bottom:10px;
}


li {
  float: left;
}

.info{
	background-color: grey;
	padding:1px;
  padding-left:10px;
  padding-right:10%;
	color:black;
	border-radius:20px;
}

.topic{
	font-size:22px;
	font-weight:1000;
}
.text{
	font-size:20px;
}
li a {
  display: block;
  text-align: center;
  padding: 2px 15px;
  text-decoration: underline;
}

footer{
  float:right;
}


a {color:#FF0000;}         /* Unvisited link  */
a:visited {color:#FF0000;} /* Visited link    */
a:hover {color:#FF0000;}   /* Mouse over link */
a:active {color:#FF0000;}  /* Selected link   */